/* styles.css */

/* General styling for the entire page */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the main container of the E-signature app */
.container {
  max-width: 600px;
  height:100%;
  margin: 200px auto;
  padding: 20px;
 }

/* Styling for the main header of the app */
.header {
  font-size: 50px; /* Larger font size */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the sub-header containing the date */
.sub-header {
  font-size: 20px; /*  font-size: 16px*/;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the main text paragraph */
.text-paragraph {
  font-size: 14px;
  margin-bottom: 20px;
}

.text-align {
  text-align: center;
}

/* Styling for a group containing a label and an input field */
.input-group {
  margin-bottom: 20px;
}

/* Styling for labels associated with input fields */
.input-label {
  font-size: 230px;
  margin-bottom: 5px;
}

/* Styling for input fields */
.input-field {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the row of buttons in the new web app */
.button-row {
  display: flex;
  justify-content: space-between;
}

/* Styling for each button in the new web app */
.app-button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

/* Styling for each button with unique colors */
.button-1 {
  background-color: #3498db;
  color: #fff;
}

.button-2 {
  background-color: #e74c3c;
  color: #fff;
}

.button-3 {
  background-color: #2ecc71;
  color: #fff;
}

.button-4 {
  background-color: #f39c12;
  color: #fff;
}


/* Hover effect for all buttons */
.app-button:hover {
  opacity: 0.8;
}
