/* styles.css */

/* General styling for the entire page */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the main container of the E-signature app */
.container {
  max-width: 600px;
  height:100%;
  margin: 200px auto;
  padding: 20px;
 }

/* Styling for the main header of the app */
.header {
  font-size: 50px; /* Larger font size */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the sub-header containing the date */
.sub-header {
  font-size: 20px; /*  font-size: 16px*/;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the main text paragraph */
.text-paragraph {
  font-size: 14px;
  margin-bottom: 20px;
}

.text-center {
  text-center: center;
}

/* Styling for a group containing a label and an input field */
.input-group {
  margin-bottom: 20px;
}

/* Styling for labels associated with input fields */
.input-label {
  font-size: 230px;
  margin-bottom: 5px;
}

/* Styling for input fields */
.input-field {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.mr-1 {
  margin-right: 1;
}

.mr-2{
  margin-right: 2;
}
.mr-3{
  margin-right: 3;
}
.mr-4{
  margin-right: 4;
}
.mr-5{
  margin-right: 30vh;
}

.fade-out{
 animation: fadeAlert o.5s ease-in-out;
}
/* Styling for the row of buttons in the new web app */
.button-row {
  display: flex;
  justify-content: space-between;
}

/* Styling for each button in the new web app */
.app-button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

/* Styling for each button with unique colors */
.button-1 {
  background-color: #3498db;
  color: #fff;
}

.button-2 {
  background-color: #e74c3c;
  color: #fff;
}

.button-3 {
  background-color: #2ecc71;
  color: #fff;
}

.button-4 {
  background-color: #f39c12;
  color: #fff;
}


/* Hover effect for all buttons */
.app-button:hover {
  opacity: 0.8;
}

/* Styling for the main container of the TemperatureControllerApp component */
.temperature-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Styling for the circular window displaying temperature */
.temperature-window {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  position: relative;
}

/* Styling for the plus and minus buttons */
.temperature-button {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 10px;
  width:20%;
}

.temperature-button:hover {
  background-color: #2980b9;
}

/* Dark background */
.bg-dark {
  background-color: #333333;
  color: #ffffff;
}

/* Light text */
.text-light {
  color: #ffffff;
}

/* Light background */
.bg-light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark text */
.text-dark {
  color: #000000;
}

.mb-2 {
  margin-bottom: 0.5rem !important; /* Use !important to ensure it overrides other styles */
}

.border-5 {
  border-width: 0.5rem !important; /* Use !important to ensure it overrides other styles */
}
